body {
    margin: 0;
}

.calculator {
    width: 350px;
    margin: auto;
}

.result {
    height: 100px;
}

.button-pad {
    font-size: 0;
}

.button-pad > * {
    width: 20%;
}

button {
    font-size: 13px;
    box-sizing: border-box;
    height: 40px;
    padding: 2px 0;
    margin: 0;
}

#delete, #clear {
    width: 50%;
}

#equals {
    width: 40%;
}

